<!DOCTYPE html>
<html lang="en">
<head>
    <title>Poisťovňa</title>
</head>
<body>
    <header>
        <h1>Poisťovňa</h1>
    </header>

    <nav>
        <ul class=nav>
          <li> <a href="/insured/view/all/">Zobraziť poistencov</a> </li>
          <li> <a href="/contract/view/all/">Zobraziť zmluvy</a> </li>
          <li> <a href="/insured/add/">Pridať poistenca</a> </li>
        </ul>
    </nav>

</body>
</html>